<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const headings = document.querySelectorAll(".split-text");

  headings.forEach((heading: any) => {
    heading.style.overflow = "hidden";
    const text = heading.innerText;

    const segmenter = new Intl.Segmenter();

    // Text'i kelimelere bölüyoruz (boşluklardan)
    const words = text.split(" ");

    const splitText = words
      .map((word) => {
        // Her kelimeyi segmenter ile harf harf ayırıyoruz
        const graphemes = Array.from(
          segmenter.segment(word),
          (segment) => segment.segment
        );

        // Her harfi inline-block span'e sarıyoruz
        const wordInSpans = graphemes
          .map((char) => {
            if (char === " ") {
              return `<span class="char" style="display: inline-block;">&nbsp;</span>`;
            } else {
              return `<span class="char" style="display: inline-block;">${char}</span>`;
            }
          })
          .join("");

        // Tüm kelimeyi bir span içinde sarıyoruz, ve boşluk ekliyoruz
        return `<span class="word" style="white-space: nowrap;">${wordInSpans}&nbsp;</span>`;
      })
      .join("");

    heading.innerHTML = splitText;

    // GSAP animasyonu
    gsap.from(heading.querySelectorAll(".char"), {
      y: 130,
      stagger: 0.01,
      ease: "out",
      duration: 0.5,
      scrollTrigger: {
        trigger: heading,
        start: "top 100%",
        end: "bottom 20%",
      },
    });
  });

  const containers = document.querySelectorAll(".text-container");
  containers.forEach((container) => {
    gsap.from(container.querySelectorAll(".text-item"), {
      y: 10,
      opacity: 0,
      duration: 0.25,
      stagger: 0.09,
      ease: "in",
      scrollTrigger: {
        trigger: container,
        start: "top 80%",
        end: "bottom 20%",
        toggleActions: "play none none play",
      },
    });
  });

  const technologies = document.querySelectorAll(".tech-container");
  technologies.forEach((techContainer) => {
    gsap.fromTo(
      techContainer.querySelectorAll(".tech-item"),
      {
        scale: 0.8,
        opacity: 0,
      },
      {
        scale: 1,
        opacity: 1,
        duration: 0.25,
        stagger: 0.1,
        ease: "power2.in",
        scrollTrigger: {
          trigger: techContainer,
          start: "top 100%",
          end: "bottom 20%",
        },
      }
    );
  });
</script>
