---
import Image from "astro/components/Image.astro";
import Heading from "../heading.astro";
import ExampleImage from "../../assets/images/example-image.jpeg";
---

<section
  id="about"
  class="grid grid-cols-1 md:grid-cols-2 gap-6 pb-16 pt-32 default-container"
>
  <Heading
    textAlignment="start"
    title="Who Am I?"
    description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
    tag="About"
  />

  <div
    class="grid grid-cols-3 col-span-1 flex-shrink-0 max-sm:aspect-[4/4] sm:h-[400px] md:h-[500px] grid-rows-3 gap-3 sm:gap-6"
  >
    <Image
      src={ExampleImage}
      alt="About Image 1"
      class="col-span-2 row-span-1 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
    <Image
      src={ExampleImage}
      alt="About Image 1"
      class="col-span-1 row-span-2 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
    <Image
      src={ExampleImage}
      alt="About Image 1"
      class="col-span-2 row-span-2 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
    <Image
      src={ExampleImage}
      alt="About Image 1"
      class="col-span-1 row-span-1 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
  </div>
</section>
