---
import Image from "astro/components/Image.astro";
import Heading from "../heading.astro";
import ExampleImage from "../../assets/images/example-image.jpeg";
import CodeImage from "@assets/images/about/code.webp";
import Connections from "@assets/images/about/connections.webp";
import Creativity from "@assets/images/about/creativity.webp";
import Comfort from "@assets/images/about/comfort.webp";
---

<section
  id="about"
  class="grid grid-cols-1 md:grid-cols-2 gap-6 pb-16 pt-32 default-container"
>
  <Heading
    textAlignment="start"
    title="Who Am I?"
    description="I'm Ümit Ahmet, a Frontend Developer who is passionate about web development using modern technologies. It has always been exciting for me to learn new technologies and apply them in my projects. I especially care about PageSpeed and SEO performance in the sites I develop; I aim to produce fast and search engine friendly projects. I love to create simple and impressive experiences in the web world.<br/> My language skills include Russian and Turkish at native level and English at B1 level. <br/> Listening to classical music and doing sports are indispensable hobbies for me. When I'm not coding, I discover new music or maintain an active lifestyle to keep my mind fresh."
    tag="About"
  />

  <div
    class="grid grid-cols-3 col-span-1 flex-shrink-0 max-sm:!aspect-[4/4] sm:h-[400px] md:h-[500px] grid-rows-3 gap-3 sm:gap-6"
  >
    <Image
      src={Connections}
      alt="About Image 1"
      class="col-span-2 row-span-1 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
    <Image
      src={Creativity}
      alt="About Image 1"
      class="col-span-1 row-span-2 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
    <Image
      src={Comfort}
      alt="About Image 1"
      class="col-span-2 row-span-2 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
    <Image
      src={CodeImage}
      alt="About Image 1"
      class="col-span-1 row-span-1 rounded-3xl max-sm:rounded-xl w-full h-full object-cover"
    />
  </div>
</section>
