---
import { projects } from "../../data/index";
import ProjectCard from "../cards/project-card.astro";
import Heading from "../heading.astro";
---

<div class="space-y-16 w-full py-16 default-container">
  <Heading
    title="Collaborative Projects."
    description="Projects I contributed to by working with different teams. Each of them gave me new skills and experiences. "
    tag="Projects"
  />
  {
    projects.map((item, index) => (
      <ProjectCard {...item} reversed={index % 2 == 1} />
    ))
  }
</div>
