---
import { ArrowUpRight } from "lucide-astro";
import { projects } from "../../data/index";
import ProjectCard from "../cards/project-card.astro";
import Heading from "../heading.astro";
import Button from "../ui/button.astro";
---

<section id="projects" class="w-full py-16 default-container">
  <div class="space-y-16">
    <Heading
      title="Collaborative Projects."
      description="The role a projects challenged me to grow and learn. Each one has given me new skills and experiences. "
      tag="Projects"
    />
    {
      projects.map((item, index) => (
        <ProjectCard {...item} reversed={index % 2 == 1} />
      ))
    }
  </div>

  <div class="flex justify-center mt-10">
    <Button variant="outline" href="/projects">
      View All Projects <ArrowUpRight class="size-5" />
    </Button>
  </div>
</section>
