---
import Tag from "./ui/tag.astro";
import clsx from "clsx";

interface Props {
  tag: string;
  title: string;
  description: string;
  textAlignment?: "start" | "center";
}

const { title, description, tag, textAlignment = "center" } = Astro.props;
---

<div
  class={clsx("space-y-4 text-center", {
    "sm:text-start": textAlignment === "start",
    "text-center max-w-2xl mx-auto": textAlignment === "center",
  })}
>
  <Tag
    className={clsx("split-text gap-0.5", {
      "mx-auto": textAlignment === "center",
      "sm:mr-auto max-sm:mx-auto": textAlignment === "start",
    })}
  >
    {tag}
  </Tag>
  <h2
    class="text-5xl pb-2 split-text font-semibold leading-[48px] dark:text-white text-black"
  >
    {title}
  </h2>
  <p class="dark:text-zinc-400 text-zinc-500 text-lg">
    {description}
  </p>
</div>
