---
import Image from "astro/components/Image.astro";
import BlackLogo from "../assets/images/black-logo.svg";
import WhiteLogo from "../assets/images/white-logo.svg";
import Button from "./ui/button.astro";
import ToggleTheme from "./ui/toggle-theme.astro";
import { navbarNavigation } from "../data";
import { Icon } from "astro-icon/components";
---

<div
  x-data=`{navbarNavigation:${JSON.stringify(navbarNavigation)}, showMenu: false }`
>
  <div
    class="w-full py-6 z-50 fixed top-0 bg-white duration-200 dark:bg-black border-b border-zinc-100 dark:border-zinc-900"
  >
    <nav
      class="w-full relative z-20 bg-white duration-200 dark:bg-black items-center grid default-container grid-cols-2 md:grid-cols-3 justify-center"
    >
      <!-- Logo -->
      <a aria-label="home" href="/">
        <Image
          class="max-sm:h-9 hidden dark:block h-12 w-auto"
          src={WhiteLogo}
          alt="white-logo"
        />
        <Image
          class="max-sm:h-9 dark:hidden h-12 w-auto"
          src={BlackLogo}
          alt="black-logo"
        />
      </a>

      <!-- Navigation -->
      <div class="flex max-md:hidden items-center justify-center gap-10">
        <template x-for="(item, index) in navbarNavigation" :key="index">
          <a
            :aria-label="item.name"
            :href="item.href"
            class="dark:text-white hover:text-zinc-500 text-black font-medium dark:hover:text-zinc-300 duration-200"
            x-text="item.name"
          >
          </a>
        </template>
      </div>

      <div class="ml-auto flex items-center justify-end gap-3">
        <Button
          ariaLabel="Download CV"
          download="Umit_AHMET_Frontend_Developer.pdf"
          href="/Umit_AHMET_Frontend_Developer.pdf"
          className="max-lg:hidden"
        >
          Download CV <Icon name="download" class="size-4" />
        </Button>
        <ToggleTheme />
        <!-- Toggle Menu Button -->
        <button
          aria-label="toggle-menu"
          class="hidden max-md:flex hover:bg-zinc-100 dark:hover:bg-zinc-900 duration-200 rounded-lg size-10 items-center justify-center"
          @click="showMenu = !showMenu"
        >
          <Icon
            name="menu"
            x-show="showMenu == false"
            class="size-6 text-black dark:text-white"
          />
          <Icon
            name="x"
            x-show="showMenu == true"
            class="size-6 text-black dark:text-white"
          />
        </button>
      </div>
    </nav>
  </div>
  <!-- Mobile Menu -->
  <div
    x-show="showMenu"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="transform translate-x-full"
    x-transition:enter-end="transform -translate-x-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="transform -translate-x-0"
    x-transition:leave-end="transform translate-x-full"
    x-init="$watch('showMenu', value => document.body.classList.toggle('overflow-hidden', value))"
    @click.away="showMenu = false"
    class="fixed top-24 -mt-2 z-50 right-0 border-l max-w-[65%] h-full bg-white dark:bg-black border-b border-zinc-100 dark:border-zinc-900 w-full"
    x-cloak
  >
    <div
      class="flex items-start w-full divide-y divide-zinc-100 dark:divide-zinc-900 flex-col justify-center *:py-4"
    >
      <template x-for="(item, index) in navbarNavigation" :key="index">
        <a
          :href="item.href"
          :aria-label="item.name"
          class="dark:text-white text-black ease-in-out opacity-0 w-full duration-200 text-pink- font-medium hover:bg-zinc-100 dark:hover:bg-zinc-900 dark:hover:text-zinc-300 default-container"
          :class="{ 'opacity-100': showMenu }"
          x-text="item.name"
          @click="showMenu = false"
        >
        </a>
      </template>

      <div class="px-6 w-full">
        <Button
          href="/Umit_AHMET_Frontend_Developer.pdf"
          download="Umit_AHMET_Frontend_Developer.pdf"
          variant="secondary"
          className="w-full"
          ariaLabel="Download CV"
        >
          Download CV <Icon name="download" class="size-4" />
        </Button>
      </div>
    </div>
  </div>
</div>
