---
interface Props {
  title: string;
}

const { title } = Astro.props;
import ScrollToTopButton from "@/components/ui/scroll-to-top-button.astro";
import "../styles/index.css";
import Animations from "@/lib/animations.astro";
import Posthog from "@/components/posthog.astro";
---

<!doctype html>
<html class="scroll-smooth bg-white dark:bg-black" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content=" I'm a Frontend Developer crafting user-friendly, visually appealing, and
      functional web interfaces. With modern technologies and innovative
      solutions, I'm ready to bring your projects to life!"
    />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Ümit Ahmet | Software Developer" />
    <meta property="og:image" content="/monkey.png" />
    <meta property="og:url" content="https://umitahmet.com" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Posthog />
    <link rel="canonical" href="https://umitahmet.com" />
  </head>
  <body>
    <slot />
    <ScrollToTopButton />
    <Animations />
  </body>
</html>
