---
import { Icon } from "astro-icon/components";
---

<div class="size-24 sm:size-32 relative">
  <div
    class="absolute size-full transition-all animate-spin-slow top-0 left-0 flex items-center justify-center"
  >
    <Icon name="circle-text" class="size-full text-black dark:text-white" />
  </div>
  <div class="absolute top-0 left-0 size-full flex items-center justify-center">
    <a
      href="#about"
      class="size-12 sm:size-16 bg-black dark:bg-white rounded-full flex items-center justify-center hover:scale-105 duration-500 ease-out"
    >
      <Icon name="arrow-down" class="size-6 text-white dark:text-black" />
    </a>
  </div>
</div>
